.Wrapper{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.Nav-block{
  width: 150px;
  height: 100vh;
}
.Content-block{
  flex :1;
}


.container{
  width: 100%;
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 576px){
  .container{
    max-width: 570px;
  }
  .Nav-block{
    width: 100%;
    height: 50px;
  }
}
@media (max-width: 768px){
  .container{
    max-width: 720px;
  }
  .Nav-block{
    width: 100%;
    height: 50px;
  }
  
}
@media (min-width: 992px){
  .container{
    max-width: 960px;
  }
}
@media (min-width: 1200px){
  .container{
    max-width: 1140px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
